body {
    display:flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(160, 171, 185);
    
}

.Calculadora {
    padding: 50px;
    background-color:rgb(179, 121, 219); 
    border-radius: 5%;
    border: 5px solid rgb(109, 48, 131);
    
}
    
.botoes{ 
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    width: 450px;

}

button {
    padding: 20px;
    font-size: 20px;
    border-radius: 15%;
    cursor: pointer;

    background-color: rgb(238, 198, 89);
}

#display {
   height: 60px;
   width: 440px;
   margin-bottom: 20px;
   border-radius: 11%;
   border: 4px solid rgb(109, 48, 131);
   
   text-align: left;
   font-size: 35px;
}

.Enter {
    grid-column: span 2;
    width: 100%;   
}
